<form action="feed">
	<label for="url">Paste RSS Feed URL: </label><input name="url" id="url" type="url" autocomplete="on" placeholder="https://ada.is/feed" value="{{url}}"></input>
	<input type="submit" value="Submit"></input>
</form>