<footer>
	<small>
		<img src="/static/images/Small_SBrowser_Banner_Dark.png" style="margin: 1em; width: 50%;">
		<p>&copy; Copyright 2016 Samsung Electronics Co., Ltd.</p>
		<p>Please Report Issues on <a href="https://github.com/samsunginternet/podle/issues" target="_blank" rel="noopener">the Github Repo</a> or tweet at the developer <a href="https://twitter.com/lady_ada_king" target="_blank" rel="noopener">@lady_ada_king</a></p>
	</small>
</footer>
