<header>
	<h1><a href="./">Podle for Podcasts</a></h1>
	<label for="hamburger">Show Menu</label>
	<input class="hamburger" type="checkbox" id="hamburger" style="visibility: hidden;" checked="">
	<div class="hamburger-menu">
		{{> search-widget }}
		{{> feed-widget }}
	</div>
</header>
