<form action="search">
	<label for="term">Search for a podcast: <input name="term" id="term" type="text" autocomplete="on" placeholder="night vale" value="{{term}}"></input></label>
	<input type="submit"></input>
</form>