<form action="search">
	<label for="term">Search for a Podcast: </label><input name="term" id="term" type="text" autocomplete="on" placeholder="night vale" value="{{term}}"></input>
	<input type="submit" value="Search"></input>
</form>
