<form action="search">
	<label for="term">Search for a Podcast: </label>
	<span class="inline-group">
		<input name="term" id="term" type="text" autocomplete="on" placeholder="night vale" value="{{term}}"></input>
		<input type="submit" value="Search"></input>
	</span>
</form>
