<!DOCTYPE html>
<html>
	<head>
		<title>Podle {{#if title}}- {{ title }}{{else}}for Podcasts{{/if}}</title>
		<meta name="description" content="Listen to podcasts with the Podle Web App.">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/style/style.css">
	</head>
	<body>
		{{> header }}
		<main>{{{body}}}</main>
		{{> footer }}
	</body>
</html>
