<!DOCTYPE html>
<html>
	<head>
		<title>Podle {{#if title}}- {{ title }}{{else}}Podcasts{{/if}}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/style/style.css">
	</head>
	<body>
		{{{body}}}
	</body>
</html>
