<!DOCTYPE html>
<html>
	<head>
		<title>Podle {{#if title}}- {{ title }}{{else}}Podcasts{{/if}}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/style/v2.css">
	</head>
	<body>
		{{{body}}}
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
		<script src="/static/scripts/third-party/localforage.nopromises.min.js"></script>
		<script src="/static/scripts/buttons-v4.js"></script>
	</body>
</html>
