<!DOCTYPE html>
<html>
	<head>
		<title>Podle {{#if title}}- {{ title }}{{else}}Podcasts{{/if}}</title>
		<meta charset="utf-8">
		<meta http-equiv="cleartype" content="on">
		<meta name="MobileOptimized" content="width">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="/static/style/v3.css">
	</head>
	<body>
		{{{body}}}
	</body>
</html>
