<!DOCTYPE html>
<html>
	<head>
		<title>Podle {{#if title}}- {{ title }}{{else}}for Podcasts{{/if}}</title>
		<meta name="description" content="Listen to podcasts with the Podle Web App.">
		<meta charset="utf-8">
		<meta http-equiv="cleartype" content="on">
		<meta name="MobileOptimized" content="width">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="/static/style/style.css">
		<link rel="stylesheet" href="/static/style/responsive.css">

		<meta name="theme-color" content="#05668D">
		<link rel="manifest" href="/static/manifest.json">
		<link href="https://podle.ada.is/static/icon192.png" rel="icon" sizes="192x192" />

		{{> preload }}

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,_mutation|always|gated" defer></script>
		<script src="/static/scripts/third-party/pouchdb-6.0.5.min.js" defer></script>
		<script src="/static/scripts/db.js" defer></script>
		<script src="/static/scripts/third-party/serialize-0.2.min.js" defer></script>
		<script src="/static/scripts/ui.js" defer></script>
	</head>
	<body>
		{{> header }}
		<main><div class="main-content">{{{body}}}</div></main>
	</body>
</html>
