html, body {
    box-sizing: content-box;
    overflow-x: hidden;
    max-width: 100vw;
}

.items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

audio {
	max-width: 100%;
}

header div {
    flex-grow: 1;
    text-align: right;
}

.feed-item {
	border: 1px solid lightgray;
    box-shadow: 0 0 2em -0.5em;
    overflow: hidden;
	margin-bottom: 2em;
}